.paragraph-styles, h2 {
  font-size: 30px;
  color: red; }

.neat-row2 {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 800px) {
    .neat-row2 {
      width: calc(50% - 60px);
      float: left;
      margin-left: 40px; } }
  @media only screen and (min-width: 800px) and (min-width: 1000px) {
    .neat-row2.neat-row2 {
      width: calc(33.33333% - 53.33333px);
      float: left;
      margin-left: 40px; } }

.circle {
  border-radius: 50%;
  background-color: #4bc6df;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 140px; }

.sub-navbar {
  height: 40px;
  width: 100%;
  background-color: #5c6268;
  position: absolute;
  padding-bottom: 1%; }

.sub {
  border-top: 1px solid blue;
  background-color: #f2f2f2;
  color: gray;
  height: 194px;
  position: relative; }

.pic {
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.first-sub {
  display: block;
  float: right; }

.second-sub {
  display: block;
  float: right; }

.third-sub {
  display: block;
  float: right; }

.top-section {
  color: gray; }

.second-nav {
  float: left; }

.blue-links {
  font-size: 1.45rem;
  padding-top: 150px; }

.headlinestext {
  width: auto;
  height: 55px;
  padding-top: 60px;
  font-family: "Guardian Text Egyptian Web",Georgia,serif; }

.headlines {
  height: 287px;
  max-width: 100%;
  position: relative;
  margin: auto; }

#wheelchair {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

#luke {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

#water {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

#segway {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.main {
  height: 100%;
  width: 98%;
  position: relative;
  margin: auto; }

#main-title {
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px; }

#dean {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

#wheelchair {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

#luke {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

#water {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

#segway {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px; }

a {
  color: white;
  font-size: 1.45rem;
  text-decoration: none; }

ul {
  color: white;
  text-align: left; }

li {
  display: inline;
  color: white;
  text-align: left; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=output.css.map */
