* {

}
$article-layout-grid: (
  columns: 1,
  gutter: 2rem,
);

$article-layout-grid--tablet-up: (
  columns: 5,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

.main {
  height: 100%;
  width: 98%;
  position: relative;
  margin: auto;
}

// ----------------- section 1 ------------------
#dean  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
// ----------------- section 2 ------------------
#wheelchair  {
  height: 20%;
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#luke  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#water  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#segway  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.circle {
  border-radius: 50%;
  background-color: #4bc6df;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 140px;
}

.sub-navbar {
  height: 40px;
  width: 100%;
  background-color: #5c6268;
  position: absolute;
  padding-bottom: 1%;

}

.sub {
  border-top: 1px solid blue;
  background-color: #f2f2f2;
  color: gray;
  height: 194px;
  position: relative;
}

.pic {
  // height: 125px;
  // width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.first-sub {
  display: block;
  float: right;

}


.second-sub {
  display: block;
  float: right;

}


.third-sub {
  display: block;
  float: right;

}

.top-section {
  color: gray;
}

#main-title {
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}





.second-nav {
  float: left;
}

.blue-links {
  font-size: 1.45rem;
  padding-top: 150px;

}

a {
  color: white;
  font-size: 1.45rem;

  text-decoration: none;
}

ul {
  color: white;
  text-align: left;
}
li {
  display: inline;
  color: white;
  text-align: left;
}

.headlinestext  {

  width: auto;
  height: 55px;
  padding-top: 60px;
  font-family: "Guardian Text Egyptian Web",Georgia,serif;
}

.headlines {
  height: 287px;
  max-width: 100%;
  position: relative;
  margin: auto;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
