* {

}


// ----------------- section 1 ------------------
.circle {
  border-radius: 50%;
  background-color: #4bc6df;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 140px;
}

.sub-navbar {
  height: 40px;
  width: 100%;
  background-color: #5c6268;
  position: absolute;
  padding-bottom: 1%;

}

.sub {
  border-top: 1px solid blue;
  background-color: #f2f2f2;
  color: gray;
  height: 194px;
  position: relative;
}

.pic {
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.first-sub {
  display: block;
  float: right;

}


.second-sub {
  display: block;
  float: right;

}


.third-sub {
  display: block;
  float: right;

}

.top-section {
  color: gray;
}






.second-nav {
  float: left;
}

.blue-links {
  font-size: 1.45rem;
  padding-top: 150px;

}

.headlinestext  {

  width: auto;
  height: 55px;
  padding-top: 60px;
  font-family: "Guardian Text Egyptian Web",Georgia,serif;
}

.headlines {
  height: 287px;
  max-width: 100%;
  position: relative;
  margin: auto;
}
