
#wheelchair  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#luke  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#water  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#segway  {
  width: 100%;
  position: static;
  z-index: 0;
  visibility: visible;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
